rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{articleId}/comments/{commentId} {
      allow read: if true;
      allow create: if request.resource.data.name is string
                    && request.resource.data.name.size() <= 80
                    && request.resource.data.text is string
                    && request.resource.data.text.size() > 0
                    && request.resource.data.text.size() <= 2000
                    && request.resource.data.datetime is string;
      allow update, delete: if false;
    }
  }
}
